@model IEnumerable<HouseTasksManager.Models.HouseTask>

<h4 class="text-center">Assigned Tasks</h4>

<div class="d-flex justify-content-between mt-3">
    <span>
        <a class="btn btn-secondary" asp-action="Index">Unassigned Tasks</a>
    </span>
    <span>
        <a class="btn btn-primary" asp-action="IndexAssigned">Assigned Tasks</a>
    </span>
    <span>
        <a class="btn btn-secondary" asp-action="IndexCompleted">Completed Tasks</a>
    </span>
</div>

<table class="table table-bordered table-hover mt-3">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (HouseTask item in Model)
        {
            <tr>
                @if (item.Owner != null & !item.Finished)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-primary" asp-action="TaskCompleted" asp-route-id ="@item.Id">Complete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

