@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<HouseTasksManager.Models.HouseTask>

@{

}

<h3>Hello @User.Identity.Name</h3>
<div>
    <p> These are your assigned tasks:</p>
    @foreach (var AssignedTask in Model)
    {
        @if (AssignedTask.Owner == User.Identity.Name)
        {
            <div>@AssignedTask.Description</div>
        }
    }
</div>

<div>
    <span>These are the tasks you have completed:</span>
    @{ 
        int totalValue = 0;
        @foreach (var AssignedTask in Model)
        {
            @if (AssignedTask.Finished & AssignedTask.Owner == User.Identity.Name)
            {
                <span>@AssignedTask.Description</span>
                <span> with value: </span>
                <span>@AssignedTask.Value</span>
                totalValue += AssignedTask.Value;
                <br />
            }
        }
    }
</div>

<div>
    <span>The amount of points you have is: @totalValue</span>
</div>


